In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
data_bike = pd.read_csv('201805-citibike-tripdata.csv')
data_bike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,303,2018-05-01 00:00:11,2018-05-01 00:05:15,491,E 24 St & Park Ave S,40.740964,-73.986022,2003,1 Ave & E 18 St,40.733812,-73.980544,32191,$25 Off Annual Membership,Subscriber,1984.0,1
1,700,2018-05-01 00:00:36,2018-05-01 00:12:16,507,E 25 St & 2 Ave,40.739126,-73.979738,3458,W 55 St & 6 Ave,40.763094,-73.978350,29357,Annual Membership,Subscriber,1996.0,1
2,443,2018-05-01 00:00:40,2018-05-01 00:08:04,3263,Cooper Square & Astor Pl,40.729515,-73.990753,546,E 30 St & Park Ave S,40.744449,-73.983035,27255,Annual Membership,Subscriber,1969.0,1
3,297,2018-05-01 00:00:43,2018-05-01 00:05:41,532,S 5 Pl & S 5 St,40.710451,-73.960876,3096,Union Ave & N 12 St,40.719240,-73.952420,16980,Annual Membership,Subscriber,1985.0,1
4,421,2018-05-01 00:01:01,2018-05-01 00:08:02,3493,E 118 St & 3 Ave,40.799139,-73.938915,3351,E 102 St & 1 Ave,40.786995,-73.941648,30645,Annual Membership,Subscriber,1986.0,1

In [53]:
data_bike.drop(data_bike.index[[1165053,1165074,1165078,1165097,1165106,1165108,1165128]])

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,303,2018-05-01 00:00:11,2018-05-01 00:05:15,491,E 24 St & Park Ave S,40.740964,-73.986022,2003,1 Ave & E 18 St,40.733812,-73.980544,32191,$25 Off Annual Membership,Subscriber,1984.0,1
1,700,2018-05-01 00:00:36,2018-05-01 00:12:16,507,E 25 St & 2 Ave,40.739126,-73.979738,3458,W 55 St & 6 Ave,40.763094,-73.978350,29357,Annual Membership,Subscriber,1996.0,1
2,443,2018-05-01 00:00:40,2018-05-01 00:08:04,3263,Cooper Square & Astor Pl,40.729515,-73.990753,546,E 30 St & Park Ave S,40.744449,-73.983035,27255,Annual Membership,Subscriber,1969.0,1
3,297,2018-05-01 00:00:43,2018-05-01 00:05:41,532,S 5 Pl & S 5 St,40.710451,-73.960876,3096,Union Ave & N 12 St,40.719240,-73.952420,16980,Annual Membership,Subscriber,1985.0,1
4,421,2018-05-01 00:01:01,2018-05-01 00:08:02,3493,E 118 St & 3 Ave,40.799139,-73.938915,3351,E 102 St & 1 Ave,40.786995,-73.941648,30645,Annual Membership,Subscriber,1986.0,1
5,68905,2018-05-01 00:01:11,2018-05-01 19:09:36,237,E 11 St & 2 Ave,40.730473,-73.986724,504,1 Ave & E 16 St,40.732219,-73.981656,27440,Annual Membership,Subscriber,1969.0,1
6,197,2018-05-01 00:01:17,2018-05-01 00:04:35,437,Macon St & Nostrand Ave,40.680983,-73.950048,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,31566,Annual Membership,Subscriber,1988.0,1
7,259,2018-05-01 00:01:31,2018-05-01 00:05:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,312,Allen St & Stanton St,40.722055,-73.989111,29872,$25 Off Annual Membership,Subscriber,1996.0,2
8,359,2018-05-01 00:01:42,2018-05-01 00:07:42,3158,W 63 St & Broadway,40.771639,-73.982614,495,W 47 St & 10 Ave,40.762699,-73.993012,14824,Annual Membership,Subscriber,1981.0,2
9,460,2018-05-01 00:02:03,2018-05-01 00:09:43,285,Broadway & E 14 St,40.734546,-73.990741,236,St Marks Pl & 2 Ave,40.728419,-73.987140,17638,Annual Membership,Subscriber,1972.0,2
10,295,2018-05-01 00:02:04,2018-05-01 00:07:00,499,Broadway & W 60 St,40.769155,-73.981918,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,31475,Annual Membership,Subscriber,1958.0,1
11,204,2018-05-01 00:02:17,2018-05-01 00:05:42,3146,E 81 St & 3 Ave,40.775730,-73.956753,3135,E 75 St & 3 Ave,40.771129,-73.957723,14886,Annual Membership,Subscriber,1991.0,1
12,589,2018-05-01 00:02:22,2018-05-01 00:12:11,462,W 22 St & 10 Ave,40.746920,-74.004519,450,W 49 St & 8 Ave,40.762272,-73.987882,27251,Annual Membership,Subscriber,1981.0,1
13,90,2018-05-01 00:02:30,2018-05-01 00:04:00,3325,E 95 St & 3 Ave,40.784903,-73.950503,3312,1 Ave & E 94 St,40.781721,-73.945940,29077,Annual Membership,Subscriber,NaN,0
14,1596,2018-05-01 00:02:47,2018-05-01 00:29:24,439,E 4 St & 2 Ave,40.726281,-73.989780,3074,Montrose Ave & Bushwick Ave,40.707678,-73.940162,20843,Annual Membership from Citi Bike App,Subscriber,1995.0,1
15,342,2018-05-01 00:02:52,2018-05-01 00:08:34,474,5 Ave & E 29 St,40.745168,-73.986831,293,Lafayette St & E 8 St,40.730207,-73.991026,30253,Annual Membership,Subscriber,1991.0,1
16,905,2018-05-01 00:03:20,2018-05-01 00:18:25,3081,Graham Ave & Grand St,40.711863,-73.944024,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,30190,Annual Membership,Subscriber,1987.0,1
17,535,2018-05-01 00:03:28,2018-05-01 00:12:23,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,373,Willoughby Ave & Walworth St,40.693317,-73.953820,29359,Annual Membership,Subscriber,1975.0,1
18,254,2018-05-01 00:03:30,2018-05-01 00:07:44,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,20523,Annual Membership,Subscriber,1972.0,1
19,352,2018-05-01 00:03:36,2018-05-01 00:09:29,403,E 2 St & 2 Ave,40.725029,-73.990697,150,E 2 St & Avenue C,40.720874,-73.980858,25750,Annual Membership,Subscriber,1995.0,1
20,686,2018-05-01 00:03:41,2018-05-01 00:15:07,468,Broadway & W 56 St,40.765265,-73.981923,3658,W 18 St & 9 Ave,40.743534,-74.003676,32316,Annual Membership,Subscriber,1982.0,1
21,297,2018-05-01 00:03:59,2018-05-01 00:08:57,498,Broadway & W 32 St,40.748549,-73.988084,527,E 33 St & 2 Ave,40.744023,-73.976056,28271,Annual Membership,Subscriber,1967.0,1
22,484,2018-05-01 00:04:27,2018-05-01 00:12:32,3419,Douglass St & 4 Ave,40.679279,-73.981540,3304,6 Ave & 9 St,40.668127,-73.983776,19678,Annual Membership,Subscriber,1978.0,1
23,1287,2018-05-01 00:05:06,2018-05-01 00:26:33,3529,Lenox Ave & W 130 St,40.810792,-73.943068,3529,Lenox Ave & W 130 St,40.810792,-73.943068,33068,24 Hour,Customer,NaN,0
24,1311,2018-05-01 00:05:18,2018-05-01 00:27:09,2003,1 Ave & E 18 St,40.733812,-73.980544,3140,1 Ave & E 78 St,40.771404,-73.953517,24888,$25 Off Annual Membership,Subscriber,1972.0,2
25,657,2018-05-01 00:05:20,2018-05-01 00:16:18,3335,Union St & 4 Ave,40.677274,-73.982820,3306,10 St & 7 Ave,40.666208,-73.981999,31596,Annual Membership,Subscriber,1980.0,1
26,184,2018-05-01 00:05:20,2018-05-01 00:08:25,3316,W 104 St & Amsterdam Ave,40.798994,-73.966217,3323,W 106 St & Central Park West,40.798186,-73.960591,17098,$25 Off Annual Membership,Subscriber,1993.0,1
27,1371,2018-05-01 00:05:32,2018-05-01 00:28:24,128,MacDougal St & Prince St,40.727103,-74.002971,481,S 3 St & Bedford Ave,40.712605,-73.962644,30618,$25 Off Annual Membership,Subscriber,1991.0,1
28,940,2018-05-01 00:05:45,2018-05-01 00:21:25,518,E 39 St & 2 Ave,40.747804,-73.973442,394,E 9 St & Avenue C,40.725213,-73.977688,25065,$25 Off Annual Membership,Subscriber,1991.0,1
29,317,2018-05-01 00:05:48,2018-05-01 00:11:05,435,W 21 St & 6 Ave,40.741740,-73.994156,285,Broadway & E 14 St,40.734546,-73.990741,29778,Annual Membership from Citi Bike App,Subscriber,1996.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824628,717,2018-05-31 23:58:27,2018-06-01 00:10:25,3306,10 St & 7 Ave,40.666208,-73.981999,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,18250,Annual Membership,Subscriber,2000.0,1
1824629,166,2018-05-31 23:58:28,2018-06-01 00:01:14,3671,E 81 St & 2 Ave,40.774779,-73.954275,3147,E 85 St & 3 Ave,40.778012,-73.954071,32485,Annual Membership,Subscriber,1991.0,1
1824630,1206,2018-05-31 23:58:37,2018-06-01 00:18:44,3125,45 Rd & 11 St,40.747086,-73.949772,460,S 4 St & Wythe Ave,40.712859,-73.965903,17035,Annual Membership,Subscriber,1991.0,2
1824631,1086,2018-05-31 23:58:47,2018-06-01 00:16:54,498,Broadway & W 32 St,40.748549,-73.988084,3370,E 78 St & 2 Ave,40.772797,-73.955778,14553,Annual Membership,Subscriber,1994.0,1
1824632,2218,2018-05-31 23:58:48,2018-06-01 00:35:46,3125,45 Rd & 11 St,40.747086,-73.949772,401,Allen St & Rivington St,40.720196,-73.989978,15768,Join Citi Bike for $14.95/month,Subscriber,1978.0,2
1824633,993,2018-05-31 23:58:49,2018-06-01 00:15:23,435,W 21 St & 6 Ave,40.741740,-73.994156,3459,E 53 St & 3 Ave,40.757632,-73.969306,26453,3 Day,Customer,NaN,0
1824634,429,2018-05-31 23:58:56,2018-06-01 00:06:05,3467,W Broadway & Spring Street,40.724947,-74.001659,296,Division St & Bowery,40.714131,-73.997047,28850,Annual Membership,Subscriber,1945.0,1
1824635,1539,2018-05-31 23:59:00,2018-06-01 00:24:39,529,W 42 St & 8 Ave,40.757570,-73.990985,363,West Thames St,40.708347,-74.017134,31384,Annual Membership,Subscriber,1989.0,1
1824636,219,2018-05-31 23:58:59,2018-06-01 00:02:39,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3415,Prospect Pl & 6 Ave,40.679331,-73.975195,14628,Annual Membership,Subscriber,1987.0,1
1824637,599,2018-05-31 23:59:05,2018-06-01 00:09:05,3260,Mercer St & Bleecker St,40.727064,-73.996621,453,W 22 St & 8 Ave,40.744751,-73.999154,30870,Annual Membership from Citi Bike App,Subscriber,1987.0,1
1824638,3544,2018-05-31 23:59:05,2018-06-01 00:58:10,3589,Broadway & 12 St,40.766800,-73.934777,3300,Prospect Park West & 8 St,40.665147,-73.976376,30117,Single Ride,Customer,1986.0,1
1824639,509,2018-05-31 23:59:09,2018-06-01 00:07:38,3100,Nassau Ave & Newell St,40.724813,-73.947526,532,S 5 Pl & S 5 St,40.710451,-73.960876,27214,Annual Membership,Subscriber,1982.0,1
1824640,421,2018-05-31 23:59:11,2018-06-01 00:06:12,505,6 Ave & W 33 St,40.749013,-73.988484,448,W 37 St & 10 Ave,40.756604,-73.997901,31054,$25 Off Annual Membership,Subscriber,1985.0,2
1824641,2198,2018-05-31 23:59:09,2018-06-01 00:35:48,3125,45 Rd & 11 St,40.747086,-73.949772,401,Allen St & Rivington St,40.720196,-73.989978,21302,Annual Membership,Subscriber,1991.0,2
1824642,476,2018-05-31 23:59:13,2018-06-01 00:07:10,257,Lispenard St & Broadway,40.719392,-74.002472,257,Lispenard St & Broadway,40.719392,-74.002472,30140,Citi Bike Annual Membership,Subscriber,1971.0,2
1824643,437,2018-05-31 23:59:13,2018-06-01 00:06:31,257,Lispenard St & Broadway,40.719392,-74.002472,257,Lispenard St & Broadway,40.719392,-74.002472,33033,Annual Membership,Subscriber,1969.0,2
1824644,821,2018-05-31 23:59:16,2018-06-01 00:12:57,458,11 Ave & W 27 St,40.751396,-74.005226,3462,E 44 St & 2 Ave,40.751184,-73.971387,32355,Annual Membership,Subscriber,1994.0,1
1824645,289,2018-05-31 23:59:21,2018-06-01 00:04:10,279,Peck Slip & Front St,40.707873,-74.001670,296,Division St & Bowery,40.714131,-73.997047,19816,Annual Membership,Subscriber,1983.0,2
1824646,269,2018-05-31 23:59:24,2018-06-01 00:03:53,492,W 33 St & 7 Ave,40.750200,-73.990931,3258,W 27 St & 10 Ave,40.750182,-74.002184,30033,Annual Membership from Citi Bike App,Subscriber,1992.0,1
1824647,273,2018-05-31 23:59:27,2018-06-01 00:04:01,481,S 3 St & Bedford Ave,40.712605,-73.962644,3016,Kent Ave & N 7 St,40.720368,-73.961651,15662,Annual Membership,Subscriber,1991.0,1
1824648,1318,2018-05-31 23:59:31,2018-06-01 00:21:30,322,Clinton St & Tillary St,40.696192,-73.991218,3396,Clinton St & 4 Place,40.678356,-74.000145,33003,Annual Membership,Subscriber,1970.0,1
1824649,945,2018-05-31 23:59:31,2018-06-01 00:15:17,3128,21 St & 43 Ave,40.750525,-73.945948,3459,E 53 St & 3 Ave,40.757632,-73.969306,30876,Annual Membership - Save 15%,Subscriber,1987.0,1
1824650,216,2018-05-31 23:59:38,2018-06-01 00:03:15,537,Lexington Ave & E 24 St,40.740259,-73.984092,546,E 30 St & Park Ave S,40.744449,-73.983035,31641,Annual Membership,Subscriber,1981.0,1
1824651,631,2018-05-31 23:59:41,2018-06-01 00:10:13,128,MacDougal St & Prince St,40.727103,-74.002971,308,St James Pl & Oliver St,40.713079,-73.998512,20826,Annual Membership,Subscriber,1986.0,1
1824652,986,2018-05-31 23:59:44,2018-06-01 00:16:11,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,32205,$25 Off Annual Membership,Subscriber,1993.0,1
1824653,189,2018-05-31 23:59:44,2018-06-01 00:02:53,479,9 Ave & W 45 St,40.760193,-73.991255,3635,W 36 St & 9 Ave,40.754623,-73.995168,31327,Annual Membership,Subscriber,1984.0,1
1824654,483,2018-05-31 23:59:46,2018-06-01 00:07:49,3341,Central Park West & W 102 St,40.795346,-73.961860,3400,E 110 St & Madison Ave,40.796153,-73.947821,21000,Join Citi Bike for $14.95/month,Subscriber,1967.0,2
1824655,465,2018-05-31 23:59:48,2018-06-01 00:07:34,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,3076,Scholes St & Manhattan Ave,40.708704,-73.944862,28285,Annual Membership,Subscriber,1990.0,1
1824656,497,2018-05-31 23:59:51,2018-06-01 00:08:09,483,E 12 St & 3 Ave,40.732233,-73.988900,368,Carmine St & 6 Ave,40.730386,-74.002150,19692,Annual Membership,Subscriber,1979.0,1
1824657,747,2018-05-31 23:59:59,2018-06-01 00:12:27,401,Allen St & Rivington St,40.720196,-73.989978,360,William St & Pine St,40.707179,-74.008873,17258,Annual Membership,Subscriber,1994.0,1

In [57]:
data_weather = pd.read_csv('NYC May 2018 Weather.csv')
data_weather.head()

,Date/Time,Air Temp (℉),Dewpoint (℉),Precip (inches),RH (%),Wind Spd (mph),Wind Dir (degrees)
0,05/01/2018 00:00 EDT,49,38,0.0,66,3.5,-1
1,05/01/2018 01:00 EDT,48,37,0.0,66,4.6,270
2,05/01/2018 02:00 EDT,50,36,0.0,58,3.5,260
3,05/01/2018 03:00 EDT,49,36,0.0,61,4.6,260
4,05/01/2018 04:00 EDT,50,36,0.0,58,0.0,0

In [58]:
data_bike.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,303,2018-05-01 00:00:11,2018-05-01 00:05:15,491,E 24 St & Park Ave S,40.740964,-73.986022,2003,1 Ave & E 18 St,40.733812,-73.980544,32191,$25 Off Annual Membership,Subscriber,1984.0,1
1,700,2018-05-01 00:00:36,2018-05-01 00:12:16,507,E 25 St & 2 Ave,40.739126,-73.979738,3458,W 55 St & 6 Ave,40.763094,-73.978350,29357,Annual Membership,Subscriber,1996.0,1
2,443,2018-05-01 00:00:40,2018-05-01 00:08:04,3263,Cooper Square & Astor Pl,40.729515,-73.990753,546,E 30 St & Park Ave S,40.744449,-73.983035,27255,Annual Membership,Subscriber,1969.0,1
3,297,2018-05-01 00:00:43,2018-05-01 00:05:41,532,S 5 Pl & S 5 St,40.710451,-73.960876,3096,Union Ave & N 12 St,40.719240,-73.952420,16980,Annual Membership,Subscriber,1985.0,1
4,421,2018-05-01 00:01:01,2018-05-01 00:08:02,3493,E 118 St & 3 Ave,40.799139,-73.938915,3351,E 102 St & 1 Ave,40.786995,-73.941648,30645,Annual Membership,Subscriber,1986.0,1
5,68905,2018-05-01 00:01:11,2018-05-01 19:09:36,237,E 11 St & 2 Ave,40.730473,-73.986724,504,1 Ave & E 16 St,40.732219,-73.981656,27440,Annual Membership,Subscriber,1969.0,1
6,197,2018-05-01 00:01:17,2018-05-01 00:04:35,437,Macon St & Nostrand Ave,40.680983,-73.950048,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,31566,Annual Membership,Subscriber,1988.0,1
7,259,2018-05-01 00:01:31,2018-05-01 00:05:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,312,Allen St & Stanton St,40.722055,-73.989111,29872,$25 Off Annual Membership,Subscriber,1996.0,2
8,359,2018-05-01 00:01:42,2018-05-01 00:07:42,3158,W 63 St & Broadway,40.771639,-73.982614,495,W 47 St & 10 Ave,40.762699,-73.993012,14824,Annual Membership,Subscriber,1981.0,2
9,460,2018-05-01 00:02:03,2018-05-01 00:09:43,285,Broadway & E 14 St,40.734546,-73.990741,236,St Marks Pl & 2 Ave,40.728419,-73.987140,17638,Annual Membership,Subscriber,1972.0,2
10,295,2018-05-01 00:02:04,2018-05-01 00:07:00,499,Broadway & W 60 St,40.769155,-73.981918,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,31475,Annual Membership,Subscriber,1958.0,1
11,204,2018-05-01 00:02:17,2018-05-01 00:05:42,3146,E 81 St & 3 Ave,40.775730,-73.956753,3135,E 75 St & 3 Ave,40.771129,-73.957723,14886,Annual Membership,Subscriber,1991.0,1
12,589,2018-05-01 00:02:22,2018-05-01 00:12:11,462,W 22 St & 10 Ave,40.746920,-74.004519,450,W 49 St & 8 Ave,40.762272,-73.987882,27251,Annual Membership,Subscriber,1981.0,1
14,1596,2018-05-01 00:02:47,2018-05-01 00:29:24,439,E 4 St & 2 Ave,40.726281,-73.989780,3074,Montrose Ave & Bushwick Ave,40.707678,-73.940162,20843,Annual Membership from Citi Bike App,Subscriber,1995.0,1
15,342,2018-05-01 00:02:52,2018-05-01 00:08:34,474,5 Ave & E 29 St,40.745168,-73.986831,293,Lafayette St & E 8 St,40.730207,-73.991026,30253,Annual Membership,Subscriber,1991.0,1
16,905,2018-05-01 00:03:20,2018-05-01 00:18:25,3081,Graham Ave & Grand St,40.711863,-73.944024,3241,Monroe St & Tompkins Ave,40.686203,-73.944694,30190,Annual Membership,Subscriber,1987.0,1
17,535,2018-05-01 00:03:28,2018-05-01 00:12:23,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,373,Willoughby Ave & Walworth St,40.693317,-73.953820,29359,Annual Membership,Subscriber,1975.0,1
18,254,2018-05-01 00:03:30,2018-05-01 00:07:44,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,20523,Annual Membership,Subscriber,1972.0,1
19,352,2018-05-01 00:03:36,2018-05-01 00:09:29,403,E 2 St & 2 Ave,40.725029,-73.990697,150,E 2 St & Avenue C,40.720874,-73.980858,25750,Annual Membership,Subscriber,1995.0,1
20,686,2018-05-01 00:03:41,2018-05-01 00:15:07,468,Broadway & W 56 St,40.765265,-73.981923,3658,W 18 St & 9 Ave,40.743534,-74.003676,32316,Annual Membership,Subscriber,1982.0,1
21,297,2018-05-01 00:03:59,2018-05-01 00:08:57,498,Broadway & W 32 St,40.748549,-73.988084,527,E 33 St & 2 Ave,40.744023,-73.976056,28271,Annual Membership,Subscriber,1967.0,1
22,484,2018-05-01 00:04:27,2018-05-01 00:12:32,3419,Douglass St & 4 Ave,40.679279,-73.981540,3304,6 Ave & 9 St,40.668127,-73.983776,19678,Annual Membership,Subscriber,1978.0,1
24,1311,2018-05-01 00:05:18,2018-05-01 00:27:09,2003,1 Ave & E 18 St,40.733812,-73.980544,3140,1 Ave & E 78 St,40.771404,-73.953517,24888,$25 Off Annual Membership,Subscriber,1972.0,2
25,657,2018-05-01 00:05:20,2018-05-01 00:16:18,3335,Union St & 4 Ave,40.677274,-73.982820,3306,10 St & 7 Ave,40.666208,-73.981999,31596,Annual Membership,Subscriber,1980.0,1
26,184,2018-05-01 00:05:20,2018-05-01 00:08:25,3316,W 104 St & Amsterdam Ave,40.798994,-73.966217,3323,W 106 St & Central Park West,40.798186,-73.960591,17098,$25 Off Annual Membership,Subscriber,1993.0,1
27,1371,2018-05-01 00:05:32,2018-05-01 00:28:24,128,MacDougal St & Prince St,40.727103,-74.002971,481,S 3 St & Bedford Ave,40.712605,-73.962644,30618,$25 Off Annual Membership,Subscriber,1991.0,1
28,940,2018-05-01 00:05:45,2018-05-01 00:21:25,518,E 39 St & 2 Ave,40.747804,-73.973442,394,E 9 St & Avenue C,40.725213,-73.977688,25065,$25 Off Annual Membership,Subscriber,1991.0,1
29,317,2018-05-01 00:05:48,2018-05-01 00:11:05,435,W 21 St & 6 Ave,40.741740,-73.994156,285,Broadway & E 14 St,40.734546,-73.990741,29778,Annual Membership from Citi Bike App,Subscriber,1996.0,1
30,726,2018-05-01 00:05:51,2018-05-01 00:17:58,477,W 41 St & 8 Ave,40.756405,-73.990026,466,W 25 St & 6 Ave,40.743954,-73.991449,16394,Annual Membership,Subscriber,1969.0,1
31,971,2018-05-01 00:06:59,2018-05-01 00:23:10,439,E 4 St & 2 Ave,40.726281,-73.989780,435,W 21 St & 6 Ave,40.741740,-73.994156,32796,Annual Membership,Subscriber,1980.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824627,117,2018-05-31 23:58:26,2018-06-01 00:00:23,336,Sullivan St & Washington Sq,40.730477,-73.999061,3244,University Pl & E 8 St,40.731437,-73.994903,27747,Annual Membership,Subscriber,1987.0,1
1824628,717,2018-05-31 23:58:27,2018-06-01 00:10:25,3306,10 St & 7 Ave,40.666208,-73.981999,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,18250,Annual Membership,Subscriber,2000.0,1
1824629,166,2018-05-31 23:58:28,2018-06-01 00:01:14,3671,E 81 St & 2 Ave,40.774779,-73.954275,3147,E 85 St & 3 Ave,40.778012,-73.954071,32485,Annual Membership,Subscriber,1991.0,1
1824630,1206,2018-05-31 23:58:37,2018-06-01 00:18:44,3125,45 Rd & 11 St,40.747086,-73.949772,460,S 4 St & Wythe Ave,40.712859,-73.965903,17035,Annual Membership,Subscriber,1991.0,2
1824631,1086,2018-05-31 23:58:47,2018-06-01 00:16:54,498,Broadway & W 32 St,40.748549,-73.988084,3370,E 78 St & 2 Ave,40.772797,-73.955778,14553,Annual Membership,Subscriber,1994.0,1
1824632,2218,2018-05-31 23:58:48,2018-06-01 00:35:46,3125,45 Rd & 11 St,40.747086,-73.949772,401,Allen St & Rivington St,40.720196,-73.989978,15768,Join Citi Bike for $14.95/month,Subscriber,1978.0,2
1824634,429,2018-05-31 23:58:56,2018-06-01 00:06:05,3467,W Broadway & Spring Street,40.724947,-74.001659,296,Division St & Bowery,40.714131,-73.997047,28850,Annual Membership,Subscriber,1945.0,1
1824635,1539,2018-05-31 23:59:00,2018-06-01 00:24:39,529,W 42 St & 8 Ave,40.757570,-73.990985,363,West Thames St,40.708347,-74.017134,31384,Annual Membership,Subscriber,1989.0,1
1824636,219,2018-05-31 23:58:59,2018-06-01 00:02:39,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,3415,Prospect Pl & 6 Ave,40.679331,-73.975195,14628,Annual Membership,Subscriber,1987.0,1
1824637,599,2018-05-31 23:59:05,2018-06-01 00:09:05,3260,Mercer St & Bleecker St,40.727064,-73.996621,453,W 22 St & 8 Ave,40.744751,-73.999154,30870,Annual Membership from Citi Bike App,Subscriber,1987.0,1
1824638,3544,2018-05-31 23:59:05,2018-06-01 00:58:10,3589,Broadway & 12 St,40.766800,-73.934777,3300,Prospect Park West & 8 St,40.665147,-73.976376,30117,Single Ride,Customer,1986.0,1
1824639,509,2018-05-31 23:59:09,2018-06-01 00:07:38,3100,Nassau Ave & Newell St,40.724813,-73.947526,532,S 5 Pl & S 5 St,40.710451,-73.960876,27214,Annual Membership,Subscriber,1982.0,1
1824640,421,2018-05-31 23:59:11,2018-06-01 00:06:12,505,6 Ave & W 33 St,40.749013,-73.988484,448,W 37 St & 10 Ave,40.756604,-73.997901,31054,$25 Off Annual Membership,Subscriber,1985.0,2
1824641,2198,2018-05-31 23:59:09,2018-06-01 00:35:48,3125,45 Rd & 11 St,40.747086,-73.949772,401,Allen St & Rivington St,40.720196,-73.989978,21302,Annual Membership,Subscriber,1991.0,2
1824642,476,2018-05-31 23:59:13,2018-06-01 00:07:10,257,Lispenard St & Broadway,40.719392,-74.002472,257,Lispenard St & Broadway,40.719392,-74.002472,30140,Citi Bike Annual Membership,Subscriber,1971.0,2
1824643,437,2018-05-31 23:59:13,2018-06-01 00:06:31,257,Lispenard St & Broadway,40.719392,-74.002472,257,Lispenard St & Broadway,40.719392,-74.002472,33033,Annual Membership,Subscriber,1969.0,2
1824644,821,2018-05-31 23:59:16,2018-06-01 00:12:57,458,11 Ave & W 27 St,40.751396,-74.005226,3462,E 44 St & 2 Ave,40.751184,-73.971387,32355,Annual Membership,Subscriber,1994.0,1
1824645,289,2018-05-31 23:59:21,2018-06-01 00:04:10,279,Peck Slip & Front St,40.707873,-74.001670,296,Division St & Bowery,40.714131,-73.997047,19816,Annual Membership,Subscriber,1983.0,2
1824646,269,2018-05-31 23:59:24,2018-06-01 00:03:53,492,W 33 St & 7 Ave,40.750200,-73.990931,3258,W 27 St & 10 Ave,40.750182,-74.002184,30033,Annual Membership from Citi Bike App,Subscriber,1992.0,1
1824647,273,2018-05-31 23:59:27,2018-06-01 00:04:01,481,S 3 St & Bedford Ave,40.712605,-73.962644,3016,Kent Ave & N 7 St,40.720368,-73.961651,15662,Annual Membership,Subscriber,1991.0,1
1824648,1318,2018-05-31 23:59:31,2018-06-01 00:21:30,322,Clinton St & Tillary St,40.696192,-73.991218,3396,Clinton St & 4 Place,40.678356,-74.000145,33003,Annual Membership,Subscriber,1970.0,1
1824649,945,2018-05-31 23:59:31,2018-06-01 00:15:17,3128,21 St & 43 Ave,40.750525,-73.945948,3459,E 53 St & 3 Ave,40.757632,-73.969306,30876,Annual Membership - Save 15%,Subscriber,1987.0,1
1824650,216,2018-05-31 23:59:38,2018-06-01 00:03:15,537,Lexington Ave & E 24 St,40.740259,-73.984092,546,E 30 St & Park Ave S,40.744449,-73.983035,31641,Annual Membership,Subscriber,1981.0,1
1824651,631,2018-05-31 23:59:41,2018-06-01 00:10:13,128,MacDougal St & Prince St,40.727103,-74.002971,308,St James Pl & Oliver St,40.713079,-73.998512,20826,Annual Membership,Subscriber,1986.0,1
1824652,986,2018-05-31 23:59:44,2018-06-01 00:16:11,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,32205,$25 Off Annual Membership,Subscriber,1993.0,1
1824653,189,2018-05-31 23:59:44,2018-06-01 00:02:53,479,9 Ave & W 45 St,40.760193,-73.991255,3635,W 36 St & 9 Ave,40.754623,-73.995168,31327,Annual Membership,Subscriber,1984.0,1
1824654,483,2018-05-31 23:59:46,2018-06-01 00:07:49,3341,Central Park West & W 102 St,40.795346,-73.961860,3400,E 110 St & Madison Ave,40.796153,-73.947821,21000,Join Citi Bike for $14.95/month,Subscriber,1967.0,2
1824655,465,2018-05-31 23:59:48,2018-06-01 00:07:34,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,3076,Scholes St & Manhattan Ave,40.708704,-73.944862,28285,Annual Membership,Subscriber,1990.0,1
1824656,497,2018-05-31 23:59:51,2018-06-01 00:08:09,483,E 12 St & 3 Ave,40.732233,-73.988900,368,Carmine St & 6 Ave,40.730386,-74.002150,19692,Annual Membership,Subscriber,1979.0,1
1824657,747,2018-05-31 23:59:59,2018-06-01 00:12:27,401,Allen St & Rivington St,40.720196,-73.989978,360,William St & Pine St,40.707179,-74.008873,17258,Annual Membership,Subscriber,1994.0,1

In [59]:
from datetime import *
import time

hour = []
weekend = []
for start_time in data_bike['starttime']:
    t1 = datetime.strptime(start_time,'%Y-%m-%d %H:%M:%S')
    hour.append(t1.hour)
    if t1.weekday() in [5,6]:
        weekend.append(1)
    else:
        weekend.append(0)

In [60]:
new_date_array = []

for start_time in data_bike['starttime']:
    t1 = datetime.strptime(start_time,'%Y-%m-%d %H:%M:%S')
    
    if ((len(str(t1.hour)) == 1) & (len(str(t1.day)) == 2) & (len(str(t1.month)) == 2)):
        new_date_array.append(str(t1.year)+'-'+str(t1.month)+'-'+str(t1.day)+'-0'+str(t1.hour))
        
    elif ((len(str(t1.day)) == 1) & (len(str(t1.month)) == 2) & (len(str(t1.hour)) == 2)):
        new_date_array.append(str(t1.year)+'-'+str(t1.month)+'-0'+str(t1.day)+'-'+str(t1.hour))
        
    elif ((len(str(t1.month)) == 1) & (len(str(t1.day)) == 2) & (len(str(t1.hour)) == 2)):
        new_date_array.append(str(t1.year)+'-0'+str(t1.month)+'-'+str(t1.day)+'-'+str(t1.hour))
        
    elif ((len(str(t1.month)) == 1) & (len(str(t1.day)) == 1) & (len(str(t1.hour)) == 2)):
        new_date_array.append(str(t1.year)+'-0'+str(t1.month)+'-0'+str(t1.day)+'-'+str(t1.hour))
        
    elif ((len(str(t1.month)) == 1) & (len(str(t1.day)) == 2) & (len(str(t1.hour)) == 1)):
        new_date_array.append(str(t1.year)+'-0'+str(t1.month)+'-'+str(t1.day)+'-0'+str(t1.hour))
        
    elif ((len(str(t1.month)) == 2) & (len(str(t1.day)) == 1) & (len(str(t1.hour)) == 1)):
        new_date_array.append(str(t1.year)+'-'+str(t1.month)+'-0'+str(t1.day)+'-0'+str(t1.hour))
    
    elif ((len(str(t1.month)) == 1) & (len(str(t1.day)) == 1) & (len(str(t1.hour)) == 1)):
        new_date_array.append(str(t1.year)+'-0'+str(t1.month)+'-0'+str(t1.day)+'-0'+str(t1.hour))
        
    elif ((len(str(t1.month)) == 2) & (len(str(t1.day)) == 2) & (len(str(t1.hour)) == 2)):
        new_date_array.append(str(t1.year)+'-'+str(t1.month)+'-'+str(t1.day)+'-'+str(t1.hour))

In [61]:
clean_data_bike = pd.DataFrame({
    "date":data_bike['starttime'],\
    "duration":data_bike['tripduration'],\
    "weekend":weekend,\
    "hour":hour,\
    "start_lat":data_bike['start station latitude'],\
    "start_long":data_bike['start station longitude'],\
    "end_lat":data_bike['end station latitude'],\
    "end_long":data_bike['end station longitude'],\
    "gender":(data_bike['gender']-1),\
    "age":(2018 - data_bike['birth year']),\
    "new_date" : new_date_array
})
clean_data_bike.head()

,age,date,duration,end_lat,end_long,gender,hour,new_date,start_lat,start_long,weekend
0,34.0,2018-05-01 00:00:11,303,40.733812,-73.980544,0,0,2018-05-01-00,40.740964,-73.986022,0
1,22.0,2018-05-01 00:00:36,700,40.763094,-73.978350,0,0,2018-05-01-00,40.739126,-73.979738,0
2,49.0,2018-05-01 00:00:40,443,40.744449,-73.983035,0,0,2018-05-01-00,40.729515,-73.990753,0
3,33.0,2018-05-01 00:00:43,297,40.719240,-73.952420,0,0,2018-05-01-00,40.710451,-73.960876,0
4,32.0,2018-05-01 00:01:01,421,40.786995,-73.941648,0,0,2018-05-01-00,40.799139,-73.938915,0

In [63]:
data_weather['new_date'] = data_weather['Date/Time'].str.extract('(../../.... ..)', expand=True)
data_weather.head()

,Date/Time,Air Temp (℉),Dewpoint (℉),Precip (inches),RH (%),Wind Spd (mph),Wind Dir (degrees),new_date
0,05/01/2018 00:00 EDT,49,38,0.0,66,3.5,-1,05/01/2018 00
1,05/01/2018 01:00 EDT,48,37,0.0,66,4.6,270,05/01/2018 01
2,05/01/2018 02:00 EDT,50,36,0.0,58,3.5,260,05/01/2018 02
3,05/01/2018 03:00 EDT,49,36,0.0,61,4.6,260,05/01/2018 03
4,05/01/2018 04:00 EDT,50,36,0.0,58,0.0,0,05/01/2018 04

In [66]:
for i in range(0,len(data_weather['Date/Time'])):
    data_weather['new_date'][i] = data_weather['Date/Time'][i][6:10]+'-'+\
    data_weather['Date/Time'][i][0:2]+'-'+\
    data_weather['Date/Time'][i][3:5]+'-'+\
    data_weather['Date/Time'][i][11:13]
data_weather.head()

C:\Users\emrcl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date/Time,Air Temp (℉),Dewpoint (℉),Precip (inches),RH (%),Wind Spd (mph),Wind Dir (degrees),new_date
0,05/01/2018 00:00 EDT,49,38,0.0,66,3.5,-1,2018-05-01-00
1,05/01/2018 01:00 EDT,48,37,0.0,66,4.6,270,2018-05-01-01
2,05/01/2018 02:00 EDT,50,36,0.0,58,3.5,260,2018-05-01-02
3,05/01/2018 03:00 EDT,49,36,0.0,61,4.6,260,2018-05-01-03
4,05/01/2018 04:00 EDT,50,36,0.0,58,0.0,0,2018-05-01-04

In [67]:
cleaned_data_weather = pd.DataFrame({
    'Date-Time':data_weather['new_date'],
    'Air Temp F':data_weather['Air Temp (℉)'],
    'Wind Spd (mph)':data_weather['Wind Spd (mph)']
})
cleaned_data_weather.head()

   Air Temp F      Date-Time  Wind Spd (mph)
0          49  2018-05-01-00             3.5
1          48  2018-05-01-01             4.6
2          50  2018-05-01-02             3.5
3          49  2018-05-01-03             4.6
4          50  2018-05-01-04             0.0

In [69]:
cleaned_data_bike = pd.DataFrame({
    'Date-Time':clean_data_bike['new_date'],
    'Age':clean_data_bike['age'],
    'Duration':clean_data_bike['duration'],
    'Weekend':clean_data_bike['weekend']
})
cleaned_data_bike_2 = cleaned_data_bike.dropna()
cleaned_data_bike_2.head()

    Age      Date-Time  Duration  Weekend
0  34.0  2018-05-01-00       303        0
1  22.0  2018-05-01-00       700        0
2  49.0  2018-05-01-00       443        0
3  33.0  2018-05-01-00       297        0
4  32.0  2018-05-01-00       421        0

In [70]:
merged_df = pd.merge(cleaned_data_bike_2, cleaned_data_weather, on='Date-Time')
merged_df.head()

    Age      Date-Time  Duration  Weekend  Air Temp F  Wind Spd (mph)
0  34.0  2018-05-01-00       303        0          49             3.5
1  22.0  2018-05-01-00       700        0          49             3.5
2  49.0  2018-05-01-00       443        0          49             3.5
3  33.0  2018-05-01-00       297        0          49             3.5
4  32.0  2018-05-01-00       421        0          49             3.5

In [71]:
# Added example for two output columns from a single input column
grouped_df = merged_df.groupby(['Date-Time']).agg({'Duration': np.mean, 'Air Temp F': np.mean,'Wind Spd (mph)': np.mean}) 
grouped_df.head()

                 Duration  Air Temp F  Wind Spd (mph)
Date-Time
2018-05-01-00  938.207373          49             3.5
2018-05-01-01  976.901961          48             4.6
2018-05-01-02  592.430556          50             3.5
2018-05-01-03  464.676923          49             4.6
2018-05-01-04  617.026667          50             0.0

In [72]:
grouped_df.to_csv('Grouped_Data.csv')

In [73]:
data = pd.read_csv('Grouped_Data.csv')
data.head()

       Date-Time    Duration  Air Temp F  Wind Spd (mph)
0  2018-05-01-00  938.207373          49             3.5
1  2018-05-01-01  976.901961          48             4.6
2  2018-05-01-02  592.430556          50             3.5
3  2018-05-01-03  464.676923          49             4.6
4  2018-05-01-04  617.026667          50             0.0

In [76]:
for i in range(0,len(data['Date-Time'])):
    data['Hour'][i] = data['Date-Time'][i][11:13]
    data['Date'][i] = data['Date-Time'][i][0:10]

C:\Users\emrcl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\emrcl\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
data.head()

       Date-Time    Duration  Air Temp F  Wind Spd (mph) Hour        Date
0  2018-05-01-00  938.207373          49             3.5   00  2018-05-01
1  2018-05-01-01  976.901961          48             4.6   01  2018-05-01
2  2018-05-01-02  592.430556          50             3.5   02  2018-05-01
3  2018-05-01-03  464.676923          49             4.6   03  2018-05-01
4  2018-05-01-04  617.026667          50             0.0   04  2018-05-01

In [78]:
final_data=data.drop(['Date-Time'],axis=1)
final_data.head()

     Duration  Air Temp F  Wind Spd (mph) Hour        Date
0  938.207373          49             3.5   00  2018-05-01
1  976.901961          48             4.6   01  2018-05-01
2  592.430556          50             3.5   02  2018-05-01
3  464.676923          49             4.6   03  2018-05-01
4  617.026667          50             0.0   04  2018-05-01

In [79]:
final_data.to_csv('Final_Data.csv')